* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F5FC;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  position: fixed;
  top: 0;
  width: 100%;

  padding: 40px 80px;
}

button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0A3871;
  height: 67px;
  width: 328px;
  border-radius: 24px;
  padding: 24px;  
}

input {
  all: unset;
  box-sizing: border-box;
  min-height: 108px;
  border: 1px solid black;
  width: 300px;
  border-radius: 5px;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 650px;
  width: 60%;
  padding-top: 80px;
  padding-bottom: 25px;

}

.div-form-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-form-btns div {
  display: flex;
  gap: 20px;
}

.criptografar {
  background-color: #0A3871;
}

.container-sem-texto-e-copiar div{
  height: 650px;
  width: 400px;
  padding-bottom: 25px;
  border-radius: 32px;
  background-color: #FFFFFF;
}

.div-copiar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.div-sem-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  gap: 40px;
}

.div-sem-texto div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 122px;
  width: 336px;
  gap: 30px; 
}

.div-sem-texto div h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.div-sem-texto div p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.hidden {
  display: none;
}